* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: 'Ubuntu', sans-serif;
   color: #fff;
   width: 100vw;
   height: 100vh;
}

.container {
   background-color: steelblue;
   border-radius: 10px;
   padding: 1.5rem 2rem;
}

h2 {
   font-size: 2rem;
   font-weight: bold;
   text-transform: uppercase;
   padding: 2rem;
}

.comming-soon {
   min-height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}

.countdown {
   display: flex;
   justify-content: space-around;
   align-items: center;
}
.day,
.hour,
.minute,
.second {
   font-size: 2rem;
}

h5 {
   font-size: 0.8rem;
}

.container-day,
.container-hour,
.container-minute,
.container-second {
   margin: 1rem;
   background-color: #508991;
   padding: 1rem 2rem;
   border-radius: 8px;
   box-shadow: 1px 5px 6px #172a3a;
}

img {
   position: initial;
   width: 5rem;
   height: 5rem;
   padding: 0.8rem;
}

/* Developed by Mohammad Kiaei */
